In [1]:
import pandas as pd

In [33]:
data15 = pd.read_csv("World_Happiness_2015.csv")

In [34]:
data15

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [85]:
countries = list(data15["Country"].head(10).values)
countries

['Switzerland',
 'Iceland',
 'Denmark',
 'Norway',
 'Canada',
 'Finland',
 'Netherlands',
 'Sweden',
 'New Zealand',
 'Australia']

In [86]:
data16 = pd.read_csv("World_Happiness_2016.csv")
col = ['Country', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Generosity','Trust (Government Corruption)',
       'Dystopia Residual']
data17 = pd.read_csv("World_Happiness_2017.csv")
data17.columns = col

In [72]:
datafif = data.iloc[0]
datasix = data.iloc[1]

In [79]:
lists = []
for i in col:
    if datasix[i]<datafif[i] and i!="Happiness Score":
        lists.append(i)

In [99]:
d15 = data15[data15["Country"]==i]
d15

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738

In [132]:
df = pd.DataFrame(data = None,columns=["Country","Year","Affect"])

lists = []
for i in countries:
#     data = pd.DataFrame(columns=col)
    d15 = data15[data15["Country"]==i]
    d16 = data16[data16["Country"]==i]
    d17 = data17[data17["Country"]==i]
    data = pd.concat([d15,d16,d17]).reset_index(drop = True)
    dt15 = data.iloc[0]
    dt16 = data.iloc[1]
    dt17 = data.iloc[2]
    if dt15['Happiness Rank'] < dt16['Happiness Rank']:
        for j in col:
            if dt15[j]<dt16[j] and j!="Happiness Score" and j!="Happiness Rank":
                lists.append(j)
        df = df.append({"Country":i , "Year":16 , "Affect":lists},ignore_index=True)
    lists = []
    if dt16['Happiness Rank'] < dt17['Happiness Rank']:
        for j in col:
            if dt16[j]<dt17[j] and j!="Happiness Score" and j!="Happiness Rank":
                lists.append(j)
        df = df.append({"Country":i , "Year":17 , "Affect":lists},ignore_index=True)

/tmp/ipykernel_87159/3287657475.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"Country":i , "Year":16 , "Affect":lists},ignore_index=True)
/tmp/ipykernel_87159/3287657475.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"Country":i , "Year":17 , "Affect":lists},ignore_index=True)
/tmp/ipykernel_87159/3287657475.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"Country":i , "Year":16 , "Affect":lists},ignore_index=True)
/tmp/ipykernel_87159/3287657475.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"Country":i , "Year":17 , "Affect":lists},ignore_index=True)
/tmp/ipykernel_87159/3287657475.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"Country":i , "Year":16 , "Affect":lists},ignore_index=True)
/tmp/ipykernel_87159/3287657475.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"Country":i , "Year":17 , "Affect":lists},ignore_index=True)
/tmp/ipykernel_87159/3287657475.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"Country":i , "Year":16 , "Affect":lists},ignore_index=True)
/tmp/ipykernel_87159/3287657475.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"Country":i , "Year":17 , "Affect":lists},ignore_index=True)

In [133]:
df

       Country Year                                             Affect
0  Switzerland   16      [Economy (GDP per Capita), Dystopia Residual]
1  Switzerland   17  [Lower Confidence Interval, Economy (GDP per C...
2      Iceland   16  [Lower Confidence Interval, Economy (GDP per C...
3      Denmark   17  [Lower Confidence Interval, Economy (GDP per C...
4       Canada   16      [Economy (GDP per Capita), Dystopia Residual]
5       Canada   17  [Lower Confidence Interval, Economy (GDP per C...
6       Sweden   16  [Economy (GDP per Capita), Generosity, Dystopi...
7    Australia   17  [Lower Confidence Interval, Economy (GDP per C...

In [129]:
data1.head(15)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
5,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955
6,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570
7,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119
8,New Zealand,Australia and New Zealand,9,7.286,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425
9,Australia,Australia and New Zealand,10,7.284,0.04083,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646
10,Israel,Middle East and Northern Africa,11,7.278,0.03470,1.22857,1.22393,0.91387,0.41319,0.07785,0.33172,3.08854
11,Costa Rica,Latin America and Caribbean,12,7.226,0.04454,0.95578,1.23788,0.86027,0.63376,0.10583,0.25497,3.17728
12,Austria,Western Europe,13,7.200,0.03751,1.33723,1.29704,0.89042,0.62433,0.18676,0.33088,2.53320
13,Mexico,Latin America and Caribbean,14,7.187,0.04176,1.02054,0.91451,0.81444,0.48181,0.21312,0.14074,3.60214
14,United States,North America,15,7.119,0.03839,1.39451,1.24711,0.86179,0.54604,0.15890,0.40105,2.51011

In [121]:
    i = "Denmark"
    d15 = data15[data15["Country"]==i]
    d16 = data16[data16["Country"]==i]
    d17 = data17[data17["Country"]==i]
    data = pd.concat([d15,d16,d17]).reset_index(drop = True)
    dt15 = data.iloc[0]
    dt16 = data.iloc[1]
    dt17 = data.iloc[2]

In [122]:
data

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Lower Confidence Interval,Upper Confidence Interval
0,Denmark,Western Europe,3,7.527,0.03328,1.325480,1.360580,0.874640,0.649380,0.48357,0.34139,2.492040,NaN,NaN
1,Denmark,Western Europe,1,7.526,NaN,1.441780,1.163740,0.795040,0.579410,0.44453,0.36171,2.739390,7.460000,7.592000
2,Denmark,NaN,2,7.522,NaN,1.482383,1.551122,0.792566,0.626007,0.40077,0.35528,2.313707,7.581728,7.462272