In [1]:
name = "adeel"
age = 20
salary = -5000.00

In [5]:
print(name,age,salary)

adeel 20 -5000.0

In [23]:
personList = [name,age,salary]

In [24]:
personList[-1]

-5000.0

In [47]:
person1 = ["Saleh",20,2000.0]
person2 = ["ADeel",20,2000.0]
person3 = ["Osama",53,15000.0]
person4 = ["dania",18651.0]
person5 = ["Fahad",23,45600.00]

In [48]:
person1.append('M')
person2.append('M')
person3.append('M')
person4.append('F')
person5.append('M')

In [49]:
person1

['Saleh', 20, 2000.0, 'M']

In [50]:
person4[0] = "Dania Khan"
person4

['Dania Khan', 18651.0, 'F']

In [51]:
Celebs = [person1,person4,person5]

In [52]:
Celebs

[['Saleh', 20, 2000.0, 'M'],
 ['Dania Khan', 18651.0, 'F'],
 ['Fahad', 23, 45600.0, 'M']]

In [53]:
Celebs[0][3] = 'F'

In [54]:
Celebs

[['Saleh', 20, 2000.0, 'F'],
 ['Dania Khan', 18651.0, 'F'],
 ['Fahad', 23, 45600.0, 'M']]

In [56]:
# we are bound to use negative indexing here, bacuase the age of Dania is not given....
for i in range(-1,-len(Celebs)-1,-1):
    print(Celebs[i][-2])

45600.0
18651.0
2000.0

In [57]:
for i in Celebs:
    print(i[-2])

2000.0
18651.0
45600.0