# Dictionary
    *Dictionary is a key value pair
    *Key data type string, int, float
    * value data type string, int, float, dict, list

In [4]:
employee={"name":"Adeel","age" : 20,"salary" : 250000}

In [2]:
employee["name"]

'Adeel'

In [5]:
employee["designation"] = "manager"

In [6]:
employee

{'name': 'Adeel', 'age': 20, 'salary': 250000, 'designation': 'manager'}

In [17]:
fruits = ["Apple","Banana","Apple","Banana","Mango","Apple","Banana","Mango","Apple","Banana","Mango"]

In [18]:
freq = {"Apple":0}
for i in fruits:
    if i == "Apple":
        freq["Apple"] +=1
freq

{'Apple': 4}

In [19]:
lists = {}
for i in fruits:
    if i in lists:
        lists[i] +=1
    else:
        lists[i] = 1
        
lists

{'Apple': 4, 'Banana': 4, 'Mango': 3}